DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=toor
DB_NAME=vk_monitor
DB_CHARSET=utf8mb4
# --- working mode ---
#   "db" - save to db
#   "memory" - without saving
APP_MODE=memory
VK_ACCESS_TOKEN=token

API_VERSION=5.199
OUTPUT_HTML=vk_users_status.html

FLASK_HOST=127.0.0.1
FLASK_PORT=5000
FLASK_DEBUG=True
FLASK_SECRET_KEY=key
